In [ ]:
import pandas as pd

In [ ]:
SYSTEM = []

**Class to represent a car**

In [ ]:
class Car:
  def __init__(self, car_id, model, year, km_travelled, price):
    # assign the parameter's values to the attributes of the class
        self.car_id = car_id  # ID 
        self.model = model  # Model 
        self.year = year  # Year of Production
        self.km_travelled = km_travelled  # distance travelled
        self.price = price  # price of the car

**Function to display menu to the user**

In [ ]:
def print_menu():
    
    print("1. ADD NEW CARS TO THE SYSTEM")
    print("2. FIND A CAR BASED ON ITS ID")
    print("3. UPDATE THE INFORMATION OF A SPECIFIC CAR")
    print("4. DELETE A CAR FROM THE SYSTEM")
    print("5. WRITE TO CSV FILE")
    print("6. EXIT THE PROGRAM")
    number = input("CHOOSE AN OPTION (1-6): ")

    return number

**Function to add new car to the system**

In [ ]:
def add_car():
  
    car_id = input("ENTER CAR'S ID: ")
    model = input("ENTER CAR'S MODEL: ")
    year = int(input("ENTER CAR'S YEAR OF PRODUCTION: "))
    travelled = float(input("ENTER DISTANCE TRAVELLED (IN KM): "))
    price = float(input("ENTER CAR'S PRICE (IN DOLLARS): "))

    new_car = Car(car_id, model, year, travelled, price)
    found = False
    for car in SYSTEM:
        if car.car_id == car_id:
            found = True
            break

    if found:
        print(f"CAR ID ({car_id}) ALREADY EXISTS IN THE SYSTEM !!!")
    else:
        SYSTEM.append(new_car)

**Function to find car by ID**

In [ ]:
def find_car_by_id():
    
    car_id = input("ENTER CAR'S ID: ")
    found = False

    for car in SYSTEM:
        if car.car_id == car_id:
            found = True
            print("CAR FOUND:")
            print("%-14s%s" % ("ID:", car.car_id))
            print("%-14s%s" % ("MODEL:", car.model))
            print("%-14s%d" % ("YEAR:", car.year))
            print("%-14s%.2f KM" % ("KM TRAVELLED:", car.km_travelled))
            print("%-14s$%.2f" % ("PRICE:", car.price))

            break
    if not found:
        print(f"CAR ID ({car_id}) DOES NOT EXISTS IN THE SYSTEM !!!")

**Function to update information of a specific car**

In [ ]:
def update_car():

    car_id = input("ENTER CAR'S ID: ")
    print("WHAT DO YOU WANT TO UPDATE?")
    print("1. MODEL NAME")
    print("2. PRODUCTION YEAR")
    print("3. DISTANCE TRAVELLED")
    print("4. PRICE")
    ch = input("CHOOSE AN OPTION (1-4): ")

    found = False
    index = 0
    for i, car in enumerate(SYSTEM):
        if car.car_id == car_id:
            index = i
            found = True
            break

    if not found:
        print(f"CAR ID ({car_id}) DOES NOT EXISTS IN THE SYSTEM !!!")
        return

    if ch == "1":
        model = input("ENTER NEW MODEL NAME: ")
        SYSTEM[index].model = model

    elif ch == "2":
        year = int(input("ENTER NEW YEAR: "))
        SYSTEM[index].year = year

    elif ch == "3":
        travelled = float(input("ENTER NEW DISTANCE TRAVELLED (IN KM): "))
        SYSTEM[index].km_travelled = travelled

    elif ch == "4":
        price = float(input("ENTER NEW PRICE (IN DOLLARS): "))
        SYSTEM[index].price = price

    else:
        print("INVALID OPTION !!!")

**Function to delete a car from the system**

In [ ]:
def delete_car():

    car_id = input("ENTER CAR'S ID TO DELETE: ")

    found = False
    for car in SYSTEM:
        if car.car_id == car_id:
            found = True
            SYSTEM.remove(car)
            print("The car is delete from the system")
            break

    if not found:
        print(f"CAR ID ({car_id}) DOES NOT EXISTS IN THE SYSTEM !!!")

**Function to write cars information to a CSV file**

In [ ]:
def write_csv():
  
    dict_to_write = {
        "Car_ID": [],
        "Model": [],
        "Production_year": [],
        "Kilometers_travelled": [],
        "Price": [],
    }

    for car in SYSTEM:
        dict_to_write["Car_ID"].append(car.car_id)
        dict_to_write["Model"].append(car.model)
        dict_to_write["Production_year"].append(car.year)
        dict_to_write["Kilometers_travelled"].append(car.km_travelled)
        dict_to_write["Price"].append(car.price)

    df=pd.DataFrame(dict_to_write)
    print('DataFrame Values:\n',df)
    csv_data = df.to_csv()
    print('\nCSV String Values:\n',csv_data)

In [ ]:
if __name__ == "__main__":

    while True:
        ch = print_menu()
        print()

        if ch == "1":
            add_car()
        elif ch == "2":
            find_car_by_id()
        elif ch == "3":
            update_car()
        elif ch == "4":
            delete_car()
        elif ch == "5":
            write_csv()
        elif ch == "6":
            print("THANK YOU FOR USING PROGRAMING")
            break
        else:
            print("INVALID OPTION !!!")

        print()

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 1
ENTER CAR'S MODEL: Ford Mustang
ENTER CAR'S YEAR OF PRODUCTION: 1965
ENTER DISTANCE TRAVELLED (IN KM): 80
ENTER CAR'S PRICE (IN DOLLARS): 13580

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 2
ENTER CAR'S MODEL: Rolls Royce
ENTER CAR'S YEAR OF PRODUCTION: 1904
ENTER DISTANCE TRAVELLED (IN KM): 95
ENTER CAR'S PRICE (IN DOLLARS): 13750

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 3
ENTER CAR'S MODEL: Chevrolet Malibu
ENTER CAR'S YEAR OF PRODUCTION: 1964
ENTER DISTANCE TRAVELLED (IN KM): 556
ENTER CAR'S PRICE (IN DOLLARS): 1782

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 4
ENTER CAR'S MODEL: Bentley Bentayga
ENTER CAR'S YEAR OF PRODUCTION: 1978
ENTER DISTANCE TRAVELLED (IN KM): 650
ENTER CAR'S PRICE (IN DOLLARS): 160000

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 5
ENTER CAR'S MODEL: Aston Martin Vanquish
ENTER CAR'S YEAR OF PRODUCTION: 1780
ENTER DISTANCE TRAVELLED (IN KM): 45
ENTER CAR'S PRICE (IN DOLLARS): 198000

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 6
ENTER CAR'S MODEL: Cadillac
ENTER CAR'S YEAR OF PRODUCTION: 2001
ENTER DISTANCE TRAVELLED (IN KM): 60
ENTER CAR'S PRICE (IN DOLLARS): 13000

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 7
ENTER CAR'S MODEL: AMC Gremlin
ENTER CAR'S YEAR OF PRODUCTION: 1980
ENTER DISTANCE TRAVELLED (IN KM): 85
ENTER CAR'S PRICE (IN DOLLARS): 14000

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 8

INVALID OPTION !!!

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 8
ENTER CAR'S MODEL: Porsche
ENTER CAR'S YEAR OF PRODUCTION: 2006
ENTER DISTANCE TRAVELLED (IN KM): 70
ENTER CAR'S PRICE (IN DOLLARS): 140000

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 9
ENTER CAR'S MODEL: Toyota
ENTER CAR'S YEAR OF PRODUCTION: 1937
ENTER DISTANCE TRAVELLED (IN KM): 60
ENTER CAR'S PRICE (IN DOLLARS): 13000

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 1

ENTER CAR'S ID: 10
ENTER CAR'S MODEL: Nissan
ENTER CAR'S YEAR OF PRODUCTION: 1930
ENTER DISTANCE TRAVELLED (IN KM): 50
ENTER CAR'S PRICE (IN DOLLARS): 13360

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 2

ENTER CAR'S ID: 3
CAR FOUND:
ID:           3
MODEL:        Chevrolet Malibu
YEAR:         1964
KM TRAVELLED: 556.00 KM
PRICE:        $1782.00

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 3

ENTER CAR'S ID: 6
WHAT DO YOU WANT TO UPDATE?
1. MODEL NAME
2. PRODUCTION YEAR
3. DISTANCE TRAVELLED
4. PRICE
CHOOSE AN OPTION (1-4): 1
ENTER NEW MODEL NAME: Buick

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 2

ENTER CAR'S ID: 6
CAR FOUND:
ID:           6
MODEL:        Buick
YEAR:         2001
KM TRAVELLED: 60.00 KM
PRICE:        $13000.00

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 4

ENTER CAR'S ID TO DELETE: 10
The car is delete from the system

1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 5

DataFrame Values:
   Car_ID                  Model  ...  Kilometers_travelled     Price
0      1           Ford Mustang  ...                  80.0   13580.0
1      2            Rolls Royce  ...                  95.0   13750.0
2      3       Chevrolet Malibu  ...                 556.0    1782.0
3      4       Bentley Bentayga  ...                 650.0  160000.0
4      5  Aston Martin Vanquish  ...                  45.0  198000.0
5      6                  Buick  ...                  60.0   13000.0
6      7            AMC Gremlin  ...                  85.0   14000.0
7      8                Porsche  ...                  70.0  140000.0
8      9                 Toyota  ...                  60.0   13000.0

[9 rows x 5 columns]

CSV String Values:
 ,Car_ID,Model,Production_year,Kilometers_travelled,Price
0,1,Ford Mustang,1965,80.0,13580.0
1,2,Rolls Royce,1904,95.0,13750.0
2,3,Chevrolet Malibu,1964,556.0,1782.0
3,4,Bentley Bentayga,1978,650.0,160000.0
4,5,Aston Martin Vanquish,1780,45.0,198000.0
5,6,Buick,2001,60.0,13000.0
6,7,AMC Gremlin,1980,85.0,14000.0
7,8,Porsche,2006,70.0,140000.0
8,9,Toyota,1937,60.0,13000.0


1. ADD NEW CARS TO THE SYSTEM
2. FIND A CAR BASED ON ITS ID
3. UPDATE THE INFORMATION OF A SPECIFIC CAR
4. DELETE A CAR FROM THE SYSTEM
5. WRITE TO CSV FILE
6. EXIT THE PROGRAM
CHOOSE AN OPTION (1-6): 6

THANK YOU FOR USING PROGRAMING